/*Index*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../img/telafundo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    header {
        background-color: #444444;
        text-align: center;
        line-height: 0px;
        padding: 2vw;
        color: #f1f1f1;
    }

        .titulo {
            font-size: 4vw;
        }

        .box {
            width: 7vw;
            height: 5vh;
            background-color: #9e9e9e;
            border-radius: 5vw;
            border-style: none;
            font-size: 1vw;
            cursor: pointer;
        }
        
            .inicio {
                position: relative;
                right: 6vw;
            }

            .sobre {
                position: relative;
                right: 3vw;
            }

            .disciplina {
                position: relative;
                left: 3vw;
            }

            .contatos {
                position: relative;
                left: 6vw;
            }
            
    .container {
        background-color: #9e9e9e;
        margin: 0 20vw 5vh 20vw;
        padding: 3vw;
    }

    footer {
        font-size: 0.8vw;
        color: white;
        text-align: center;
        padding: 1vh 0;
    }

    table {
        margin: 0 auto 0 auto;
        border-collapse: collapse;
        border-color: #000;
        background-color: #f1f1f1;
        width: 90%;
    }
        thead {
            border-bottom: 0.15vw solid #000;
        }

        th, td {
            padding: 0.5vh;
        }

    .cor_fundo {
        background-color: #f1f1f1;
        border-radius: 2vw;
        padding: 0.7vh 1.5vw 0.7vh 1.5vw;
        text-align: justify;
    }


/*Página Principal*/

    .perfil {
        padding-right: 18vw;
    }

        .fotoperfil {
            border-radius: 1vw;
            height: 40vh;
        }

        .nome {
            position: relative;
            left: 18vw;
            top: -40vh;
            font-size: 3vw;
        }

        .info {
            position: relative;
            line-height: 2.5vh;
            left: 18vw;
            top: -40vh;
            font-size: 1vw;
        }

    .resumo {
        border-radius: 1vw;
        margin: -25vh 0 9vh 0;
        text-indent: 4vw;
        font-size: 1.2vw;
    }

    .baixar_curric {
        font-size: 1vw;
    }

        .baixaki {
            width: 10vw;
            height: 5vh;
            background-color: #444444;
            border-radius: 5vw;
            border-style: none;
            font-size: 1vw;
            color:#f1f1f1;
            cursor: pointer;
        }
    

/*Sobre*/

.sobremim {
    font-size: 1.2vw;
}

    .fotoperfil2 {
        border-radius: 1vw;
        height: 30vh;
    }
    .saudacao {
        position: relative;
        left: 18vw;
        top: -30vh;
        font-size: 3vw;
    }

    .paragraf {
        margin-top: -10vh;
    }

.hobbies {
    font-size: 1.2vw;
    margin-top: 5vh;
}

.curiosidades {
    font-size: 1.2vw;
    margin-top: 5vh;
    padding-right: 18vw;
}

    .fotodogs {
        border-radius: 1vw;
        height: 40vh;
    }

    .par_lado {
        position: relative;
            line-height: 2.5vh;
            left: 18vw;
            top: -40vh;
    }

.citacao {
    font-size: 1.2vw;
    text-align: center;
    margin-top: -20vh;
    padding: 0 5vw 0 5vw;
}

    .fotoperfil3 {
        min-width: 50vh;
        max-width: 50vh;
    }


/*Formação*/

.formacao {
    font-size: 1.2vw;
}

.idiomas {
    font-size: 1.2vw;
    margin-top: 5vh;
}

.projeto {
    font-size: 1.2vw;
    margin-top: 5vh;
}

/*Disciplina*/

.horario {
    font-size: 1.2vw;
}   

/*Contatos*/

.formulario {
    margin: 6vh 20vw 6vh 20vw;
    padding: 1vh 4vw 4vh 4vw;
    background-color: #9e9e9e;
    font-size: 1.2vw;
    border-radius: 5vw;
}

.input {
    font-size: 1vw;
    border: none;
    
}

.botao {
    cursor: pointer;
}